html {
    background-image: url("silhouette-photography-of-rocky-mountains-under-starry-sky-2565420\ \(1\).jpg");
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    height: auto;
  }

body{
    background-color: #fff0;
}

h1 {
    /* position: absolute; */
    /* margin-left: 40%; */
    padding-left: 30%;
    text-align: -50%;
    margin-top: 50px;
    color: #76b5c7;
    font-family: "Kanit";
    font-size: 60px;
    line-height:1em;
    transform: translateY(-50%);
    width: 100%;
     text-shadow: 2px 2px 4px #000;

}
#My-Ideal-Home{
    margin: 10px;
}

#My-Ideal-Family{
    margin: 10px;
}

#Travel{
    margin: 10px;
}

#Health{
    margin: 10px;
}

#Gadget{
    margin: 10px;
}

h2{
    font-size: 50px;
    margin-top: 30px;
    color: #76b5c7;
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 2px 2px 4px #000;
}


.wishes-container{
    /* position: absolute; */
    /* padding-left: 25%; */
    text-align: center;
}
 

#add{
    margin: 30px;
}

#header-image {
    padding-right: 10%;
    margin-top: 50px;
    color: #76b5c7;
}
